.nested-comments {
  max-width: 600px;
  margin: 20px auto;
  border: 5px solid white;
  padding: 20px;
  border-radius: 8px;
}

.comment {
  margin-top: 15px;
  padding-left: 10px;

  border: 2px solid #ddd;
}

.replies {
  margin-left: 20px;
}

.reply-box {
  margin-top: 8px;
  border: 3px solid blueviolet;
}
